/*body{
    background-image: url("https://www.healthyfoodguide.com.au/sites/default/files/Tips-for-a-healthier-bbq-iStock-485587048.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}*/

.container{
    padding: 3%;
    text-align: center;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
    margin-bottom: 0;
    border-radius: 50px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right:0;
    margin-bottom: 0;
    border-radius: 3px;
    color:#D9230F;
    cursor: unset;
    z-index: 2;
}
 
.search-query:focus{
    z-index: 0;   
}


.fa-search {
    color: #0097A7;
}

.recipe-block {
    display: block;
    padding: 10px 0 30px;
    border-bottom:1px solid #ccc;
    margin:0 0 20px;
}

.testimonial-content h3{
    margin-top:0px; color:#444;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pa {
    list-style-type: none;
    display: inline;
}
/* Style the active/current link */
.pa .active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pa li:hover: {background-color: #ddd;}

.recipeList{
    list-style-type: none;
}

.result{
    display: inline;

}

.search{
    display: inline;
}

.view__recipe  {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 45%;
    display: flex;
    align-items: center;
    justify-content: center; 
}